<nav id="navbar">
    <ul>
        <li id="logo">E-commerce</li>
        <li><a href="/">Shop</a></li>
        <li><a href="">Orders</a></li>
        <li><a href="/shop/cart">Cart</a></li>
        <li><a href="/admin/sell-product">Sell Product</a></li>
        <li><a href="/admin/my-products">My Products</a></li>
        <li><a href="">About & Contact</a></li>
        <li><a href="/user/login-user">Hello, login</a></li>

    </ul>
</nav>