<%- include('includes/head.ejs') %>

</head>
    <body>
        <%- include('includes/nav.ejs') %>
        <div style="color: black; margin-top:20%; text-align: center; user-select: none;">
        <h1 style=" color: black;  font-size: 4em; font-family: sans-serif;">500 Error</h1>
        <p>Some error occurred</p>
        <p>If you have any questions or concerns, please email us at <span class="email">info@trader.com</span>.</p>
        </div>
    
        <%- include('includes/footer.ejs') %>
