<%- include('includes/head.ejs') %>

</head>
    <body>
        <%- include('includes/nav.ejs') %>
        <div style="color: #333; margin-top:20%; text-align: center; user-select: none;">
        <h1 style=" color: #333;  font-size: 4em; font-family: sans-serif;">404 Error</h1>
        <p>The page you are looking for could not be found.</p>
        <p>If you have any questions or concerns, please email us at <span class="email">info@ecommerce.com</span>.</p>
        </div>
    
        <%- include('includes/footer.ejs') %>
