<%- include('includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/add-product.css">

</head>
    <body>
        <%- include('includes/nav.ejs') %>

        <div class="container">
            <form method="post"  action="/admin/sell-product">
                    <label for="">Product Name</label>
                    <br>
                    <input type="text" autocomplete="off" name="title" id="" required>
                    <br>
                    <label for="">Product Price</label>
                    <br>
                    <input type="number" id="price" name="price" step="0.01" required>
                    <br>
                    <label for="image-url">Image URL</label>
                    <input type="text" autocomplete="off" required name="image">
                    <br>
                    <label  for="">Product Description</label>
                    <br>
                    <textarea rows="6" id="description" name="description"  oninput="countCharacters()" required></textarea>
                    <p><span id="count">0</span> characters entered</p>
                    <script>
                        function countCharacters() {
                        let description = document.getElementById("description");
                        let count = document.getElementById("count");
                        count.innerHTML = description.value.length;
                        }
                    </script>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button id ="button"type="submit">Add Product</button>
            </form>
        </div> 
    </div>
    <%- include('includes/footer.ejs') %>
