.container input{
    margin-left: 20px;
    background-color: #232F3E;
    color:white;
    font-weight: 500;
    font-size:20px;
    border-radius: 10px;
    border: #333 solid;
    width: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
    /* padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
}
.container input:focus {
    outline: none;
    border: #D3D3D3 solid;
}
.container {
    user-select: none;
    border: dotted;
    border: #333 solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 10% 31%;
}
#description{
    scrollbar-width: thin; /* width of the scrollbar */
    scrollbar-color: #cccccc #ffffff; /* color of the scrollbar */
    resize: none;
    margin-left: 20px;
    width: 90%;
    height: 30%;
    font-weight: 500;
    font-size: 20px;
    background-color: #232F3E;
    color: white;
    border-radius: 10px;
    border: #333 solid;
}
#description:focus {
    outline: none;
    border: #D3D3D3 solid;
}
#description::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

#description::-webkit-scrollbar-track {
    background-color: #232F3E;
    border-radius: 5px;
}

#description::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
    border-radius: 3px;
}

#button{
    font-weight: 600;
    font-size: 20px;
    border-radius: 50px;
    background-color:#333;
    border: none;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top:25px ;
    margin-left: 33%;
    margin-bottom: 10px;
    width: 37%;
}
#button:hover {
    color: #333;
    background-color: #D3D3D3 ;
}
