.container{
    margin-top: 7%;
    margin-left: 25%;
    width :50%;
    text-align: center;
    background-color: #FFFFFF;
    line-height: 2.3em;
}
.container img{
    border-radius: 2px;
    width: 50%;
    height: 350px;
}
.container button{
    margin-top:0.5rem;
    margin-left: 0;
    font-weight: 200;
    font-size: 16px;
    border-radius: 5px;
    background-color:white;
    color: black;
    padding: 7px 15px;
    border: black solid 3px;
    display: inline;
}
.button:hover{
    background-color: black ;
    color: white;
}