main {
    padding-top: 62px; /* same as the height of navbar */
    padding-bottom: 20px;
}

.flexbox-container{
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-top: 3%;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;/* allow multiple lines*/
}

p{
    display: inline;
}

.flexbox-item{
    height: 450px;
    margin-right: 5%;
    width:25%;
    /*border: #333 solid 3px;*/
    /*border-radius: 5px;*/
    color: black;
    text-align: center;
    font-size: 18px;
    line-height: 1.1em;
    overflow: hidden; /* keeps the element from overflowing its parent */
    word-wrap: break-word;/* breaks the line*/
    flex-basis: 25%;
    margin-bottom: 20px;
    border: grey 1px solid;
    /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5) */
}

.button-container{
    background-color: #333;
    background-color: #f4f4f4;
    background-color: #D3D3D3;
    background-color: #FFFFFF;
    margin-top: 9px;
    margin-bottom: 3px;
}

#add-to-cart{
    width: 40%;
}

#delete{
    width: 50%;
}

.button-container button{
    text-align:center;
    width: 30%;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
    border-radius: 5px;
    background-color:white;
    color: black;
    padding: 7px 15px;
    border: black solid 3px;
}

.button-container a{
    text-align:center;
    width: 30%;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
    border-radius: 5px;
    background-color:white;
    color: black;
    padding: 7px 15px;
    border: black solid 3px;
}

.a:hover{
    background-color: black ;
    color: white;
}

.button:hover{
    background-color: black ;
    color: white;
}

.flexbox-item img{
    border-radius: 2px;
    width: 100%;
    height: 250px;
}
.price{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
}
.pagination{
    margin-top: 2rem;
    text-align: center;
}
.pagination a{
    background-color: black;
    margin-right:10px;
    color: white;
    padding: 7px 10px;
    text-decoration: none;
}
.pagination a:hover{
    background-color: #272727;
} 