.container input{
    margin-left: 20px;
    background-color:  #232F3E;
    background-color: #D3D3D3;
    background-color: #FFFFFF;
    color:black;
    font-weight: 500;
    font-size:20px;
    border-radius: 10px;
    border: #333 solid;
    width: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.container input:focus {
    outline: none;
}
.container {
    user-select: none;
    border: dotted;
    border: #333 solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 10% 31%;
}
#button{
    font-weight: 700;
    font-size: 20px;
    border-radius: 50px;
    background-color:#333;
    border: none;
    color: #D3D3D3;
    padding: 15px 25px;
    padding-left: 5%;
    margin-top:25px ;
    margin-left: 37%;
    margin-bottom: 10px;
    width: 30%;
    border: #333 solid 4px;
}
#signup{
    margin-left: 20%;
    padding-bottom: 5px;
}
#login{
    margin-left: 35%;
    padding-bottom: 5px;
}
#button:hover {
    color: #333;
    background-color: #D3D3D3 ;
}
